export PROJECT_DIR=${PWD}
export SECRETS_DIR=${PROJECT_DIR}/secrets
export WORK_DIR=${PROJECT_DIR}/work

PATH=${PROJECT_DIR}/bin:${PATH}

export GOOGLE_CREDENTIALS=${SECRETS_DIR}/vault-unseal.json
export TF_VAR_gcp_key=${GOOGLE_CREDENTIALS}
export TF_VAR_project="shortrib"
